<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vote For Best Movie</title>
</head>
<body>

<!--create a form that performs a GET request ont he path "VoteForBestMove"-->
<!--The form should take a movie title as input and have a submit button-->
<form action="voteForBestMovie" method="PUT">
    <p>Your Name: <input type="text" name="voterName"></p>
    <select name="movieId">
        <option value="0">select movie</option>
        <option th:each="movie : ${movies}" th:value="${movie.id}" th:text="${movie.title}"></option>
    </select>
    <p><input type="submit" value="Submit"></p>
</form>
<a href="/">Home</a>
</body>
</html>

